@use '../abstracts' as *;

.footer {
  background-color: $blue;
  color: $white;
  padding: 51px 0 46px 0;

  &__name {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__copyright {
    font-size: 13px;
    font-weight: 400;
  }
}