@use '../abstracts' as *;

.navbar {
  &__list {
    display: flex;
    column-gap: $gap-lg;
  }
  &__link {
    color: $black;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    display: block;
    transition: scale 0.1s;
    &:hover {
      color: $blue;
      transform: scale(1.1);
    }
    &__active {
      color: $blue;
    }
  }
  
}